<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <title>Vyhledávání firem</title>
</head>

<body>

<div class="container">
    <br>
    <h3>Vyhledávání firem</h3>
    <br> Název firmy:
    <p class="font-weight-bold" th:text="${firmaService.nazevFirmy}"/>

    <br> Právní forma:
    <p class="font-weight-bold" th:text="${firmaService.pravniForma}"/>

    <br> Základní kapitál:
    <p class="font-weight-bold" th:text="${firmaService.zakladniKapital}"/>

    <br> Sídlo firmy:
    <p class="font-weight-bold" th:text="${firmaService.sidlo}"/>

    <br> Předmět podnikání:
    <li class="font-weight-bold" th:each="predmetPodnikani: ${firmaService.predmetPodnikaniService}"
        th:text="${predmetPodnikani.nazev}"></li>
    <br> Statutární orgány: <br> <br>


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Funkce</th>
            <th>Příjmení</th>
            <th>Jméno</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="temp : ${firmaService.clenoveStatutarnihoOrganuService}">
            <td th:text="${temp.funkce}"/>
            <td th:text="${temp.prijmeni}"/>
            <td th:text="${temp.jmeno}"/>
        </tr>
        </tbody>
    </table>
    <br>
    <form action="#" th:action="@{/firmapridana}"  method="POST" th:object="${firmaService}">
        <input type="hidden" th:field="*{nazevFirmy}">
        <input type="hidden" th:field="*{ico}">
        <input type="hidden" th:field="*{pravniForma}">
        <input type="hidden" th:field="*{zakladniKapital}">
        <input type="hidden" th:field="*{sidlo}">
        <input type="hidden" th:each="row,rowStat : *{predmetPodnikaniService}" th:field="*{predmetPodnikaniService[__${rowStat.index}__].nazev}" />
        <input type="hidden" th:each="row,rowStat : *{clenoveStatutarnihoOrganuService}" th:field="*{clenoveStatutarnihoOrganuService[__${rowStat.index}__].funkce}" />
        <input type="hidden" th:each="row,rowStat : *{clenoveStatutarnihoOrganuService}" th:field="*{clenoveStatutarnihoOrganuService[__${rowStat.index}__].firmaService.ico}" />
        <input type="hidden" th:each="row,rowStat : *{clenoveStatutarnihoOrganuService}" th:field="*{clenoveStatutarnihoOrganuService[__${rowStat.index}__].jmeno}" />
        <input type="hidden" th:each="row,rowStat : *{clenoveStatutarnihoOrganuService}" th:field="*{clenoveStatutarnihoOrganuService[__${rowStat.index}__].prijmeni}" />

        <button type="submit" class="btn btn-info btn-sm ">Přidej firmu</button>
    </form>
    <button type="button" class="btn btn-info btn-sm ">Aktualizuj firmu</button>
    <br>
    <br> <a href="/">Zpět</a>

</div>

</body>
</html>



